{% extends 'def.html' %}

{% block content %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/img/cisco.png" class="d-block w-100" alt="xd">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <h1 class="fw-bold p-3 pt-4">Úvod</h1>
    <hr>
    <div class="row">
        <div class="col-lg-6 border-end col-md-12">
            <h3>Zdravíčko</h3>
            <p>
                Tato stránka by v budoucnu mohla sloužit jako stránka obsahující návody na zhotovení různých
                typů kódů <i>(zejména jako příprava na maturitu)</i>, v současné době je však "Under Construction".
                Těším se na vás později!
            </p>
        </div>
        <div class="col-lg-6 col-md-12 border-start">
            <h3>Doporučené články</h3>
            <p>
                Již Brzy
            </p>
        </div>
    </div>
{% endblock %}