{% extends 'def.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} Detail kódu {% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/dracula.css' %}"> {% endblock %}
{% block content %}
    <div class="row">
        <a class=" col-3 fa fa-chevron-left pt-4 text-decoration-none text-dark" href="{% url 'code_list' %}"></a>
        <h3 class="col-6 display-5 pt-2 text-center fw-bold"> {{ code_detail.name }} </h3>
        <div class="col-3 d-flex justify-content-end">
            <button class="btn btn-success"><a href="{{ code_detail.code.url }}" class="text-decoration-none text-light" download><div style="font-size: 1.2em;">Stáhnout kód</div> <i class="fa fa-download"></i></a></button>
        </div>
        <hr>
    </div>
    <div class="row">
        <h2 class="fw-bold"style="">Popis</h2>
        <p>{{ code_detail.desc }}</p>
    </div>
    <hr>
    <h2 class="fw-bold">Kód</h2>
    <div class="row h-50">
        <div class="col-12">
            <p id="code"><pre class="rounded"><code>{{ code_detail.code | readfile }}</code></pre></p>
        </div>
    </div>
    <script src={% static 'js/code.js' %}></script>
{% endblock %}