{% extends 'def.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} Detail příkladu {% endblock %}
{% block content %}
    <div class="row">
        <a class=" col-3 fa fa-chevron-left pt-4 text-decoration-none text-dark" href="{% url 'sit_list' %}"></a>
        <h3 class="col-6 display-5 pt-2 text-center fw-bold"> {{sit_detail.name}} </h3>
        <div class="col-3 d-flex justify-content-end">
            <button class="btn btn-success"><a href="{{ sit_detail.sit.url }}" class="text-decoration-none text-light" download><div style="font-size: 1.2em;">Stáhnout kód</div> <i class="fa fa-download"></i></a></button>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="col-12">
            <p>{{ sit_detail.desc }}</p>
        </div>
    </div>
{% endblock %}